:root {
    --azultransparente : rgba(66, 117, 122, 0.71);
    --azulmeioescuro: #2E5559;
    --letraazul: #132426;
    --fundo: rgba(238, 237, 237, 1);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100%;
    background-color: var(--azultransparente); 
    color:#343434;
    z-index: 1; 
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr;
  }
  
  .header img {
    margin: 5px;
    width: 80px;
    height: 80px;
    grid-column: 1;
  }
  
  .header nav ul {
    margin-left: 25%;
    grid-column: 2;
    list-style: none; 
    display: flex;    
    gap: 5vw;        
  }
  
  .header nav ul li {
    display: inline;
  }
  
  .header nav ul li a {
    color: var(--fundo);
    text-decoration: none;
    font-family: "Lexend Exa", sans-serif;
    font-size: 18px;
  }
